@model ParishManager.Areas.Adoration.Models.AvailableHours.TimeSlotIndexViewModel
@using ParishManager.Constants

@{
    ViewData["Title"] = "St. John the Evangelist";

    var createRouteData = new Dictionary<string, string>
    {
        { "parishId", Model.ParishId.ToString() }
    };
}

<partial name="_AlertPartial" for="AlertMessage" />

<div class="d-flex align-items-center justify-content-between">
    <h3>
        Available Hours
    </h3>
    @if (Model.IsAdmin)
    {
        <a asp-action="Create" asp-all-route-data="createRouteData" class="btn btn-sm btn-success">Create New</a>
    }
</div>


<div class="row mt-3">
    <div class="accordion" id="hoursAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="sundayHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sunday" aria-expanded="true" aria-controls="sunday">
                    Sunday
                </button>
            </h2>
            <div id="sunday" class="accordion-collapse collapse show" aria-labelledby="sundayHeading" data-bs-parent="#hoursAccordion">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 accordion-body">
                    @foreach (var item in Model.TimeSlots.Where(x => x.Day == DayOfWeek.Sunday))
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            @item.Day @item.Hour
                                        </h5>
                                        <h6 class="card-subtitle text-muted">
                                            @item.Location
                                        </h6>
                                    </div>
                                    @if (Model.IsAdmin)
                                    {
                                        <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                                    </div>
                                    <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                                    <div class="mt-3">
                                        @if (item.IsClaimedByUser)
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                                            <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                                        }
                                        else
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="mondayHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#monday" aria-expanded="false" aria-controls="monday">
                    Monday
                </button>
            </h2>
            <div id="monday" class="accordion-collapse collapse" aria-labelledby="mondayHeader" data-bs-parent="#hoursAccordion">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 accordion-body">
                    @foreach (var item in Model.TimeSlots.Where(x => x.Day == DayOfWeek.Monday))
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            @item.Day @item.Hour
                                        </h5>
                                        <h6 class="card-subtitle text-muted">
                                            @item.Location
                                        </h6>
                                    </div>
                                    @if (Model.IsAdmin)
                                    {
                                        <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                                    </div>
                                    <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                                    <div class="mt-3">
                                        @if (item.IsClaimedByUser)
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                                            <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                                        }
                                        else
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="tuesdayHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tuesday" aria-expanded="false" aria-controls="tuesday">
                    Tuesday
                </button>
            </h2>
            <div id="tuesday" class="accordion-collapse collapse" aria-labelledby="tuesdayHeader" data-bs-parent="#hoursAccordion">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 accordion-body">
                    @foreach (var item in Model.TimeSlots.Where(x => x.Day == DayOfWeek.Tuesday))
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            @item.Day @item.Hour
                                        </h5>
                                        <h6 class="card-subtitle text-muted">
                                            @item.Location
                                        </h6>
                                    </div>
                                    @if (Model.IsAdmin)
                                    {
                                        <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                                    </div>
                                    <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                                    <div class="mt-3">
                                        @if (item.IsClaimedByUser)
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                                            <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                                        }
                                        else
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="wednesdayHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#wednesday" aria-expanded="false" aria-controls="wednesday">
                    Wednesday
                </button>
            </h2>
            <div id="wednesday" class="accordion-collapse collapse" aria-labelledby="wednesdayHeader" data-bs-parent="#hoursAccordion">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 accordion-body">
                    @foreach (var item in Model.TimeSlots.Where(x => x.Day == DayOfWeek.Wednesday))
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            @item.Day @item.Hour
                                        </h5>
                                        <h6 class="card-subtitle text-muted">
                                            @item.Location
                                        </h6>
                                    </div>
                                    @if (Model.IsAdmin)
                                    {
                                        <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                                    </div>
                                    <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                                    <div class="mt-3">
                                        @if (item.IsClaimedByUser)
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                                            <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                                        }
                                        else
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="thursdayHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#thursday" aria-expanded="false" aria-controls="thursday">
                    Thursday
                </button>
            </h2>
            <div id="thursday" class="accordion-collapse collapse" aria-labelledby="thursdayHeader" data-bs-parent="#hoursAccordion">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 accordion-body">
                    @foreach (var item in Model.TimeSlots.Where(x => x.Day == DayOfWeek.Thursday))
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            @item.Day @item.Hour
                                        </h5>
                                        <h6 class="card-subtitle text-muted">
                                            @item.Location
                                        </h6>
                                    </div>
                                    @if (Model.IsAdmin)
                                    {
                                        <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                                    </div>
                                    <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                                    <div class="mt-3">
                                        @if (item.IsClaimedByUser)
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                                            <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                                        }
                                        else
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="fridayHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#friday" aria-expanded="false" aria-controls="friday">
                    Friday
                </button>
            </h2>
            <div id="friday" class="accordion-collapse collapse" aria-labelledby="fridayHeader" data-bs-parent="#hoursAccordion">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 accordion-body">
                    @foreach (var item in Model.TimeSlots.Where(x => x.Day == DayOfWeek.Friday))
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            @item.Day @item.Hour
                                        </h5>
                                        <h6 class="card-subtitle text-muted">
                                            @item.Location
                                        </h6>
                                    </div>
                                    @if (Model.IsAdmin)
                                    {
                                        <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                                    </div>
                                    <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                                    <div class="mt-3">
                                        @if (item.IsClaimedByUser)
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                                            <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                                        }
                                        else
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="saturdayHeader">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#saturday" aria-expanded="false" aria-controls="saturday">
                    Saturday
                </button>
            </h2>
            <div id="saturday" class="accordion-collapse collapse" aria-labelledby="saturdayHeader" data-bs-parent="#hoursAccordion">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 accordion-body">
                    @foreach (var item in Model.TimeSlots.Where(x => x.Day == DayOfWeek.Saturday))
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            @item.Day @item.Hour
                                        </h5>
                                        <h6 class="card-subtitle text-muted">
                                            @item.Location
                                        </h6>
                                    </div>
                                    @if (Model.IsAdmin)
                                    {
                                        <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                                    </div>
                                    <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                                    <div class="mt-3">
                                        @if (item.IsClaimedByUser)
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                                            <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                                        }
                                        else
                                        {
                                            <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
