@model ParishManager.Areas.Adoration.Models.AvailableHours.TimeSlotIndexViewModel
@using ParishManager.Constants

@{
    ViewData["Title"] = "St. John the Evangelist";

    var createRouteData = new Dictionary<string, string>
    {
        { "parishId", Model.ParishId.ToString() }
    };
}

<partial name="_AlertPartial" for="AlertMessage" />

<div class="d-flex align-items-center justify-content-between">
    <h3>
        Available Hours
    </h3>
    @if (Model.IsAdmin)
    {
        <a asp-action="Create" asp-all-route-data="createRouteData" class="btn btn-sm btn-success">Create New</a>
    }
</div>

<div class="card-columns mt-3">
    @foreach (var item in Model.TimeSlots)
    {
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <div>
                    <h5 class="card-title">
                        @item.Day @item.Hour
                    </h5>
                    <h6 class="card-subtitle text-muted">
                        @item.Location
                    </h6>
                </div>
                @if (Model.IsAdmin)
                {
                    <a asp-area=@AreaName.Adoration asp-controller="AvailableHours" asp-action="Edit" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Edit</a>
                }
            </div>
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @(item.AdorerCommitmentProgress + "%");" aria-valuenow="@item.AdorerCommitmentProgress" aria-valuemin="0" aria-valuemax="@item.MinimumAdorers"></div>
                </div>
                <p class="text-muted text-right">@item.CommittedAdorers/@item.MinimumAdorers</p>
                <div class="mt-3">
                    @if (item.IsClaimedByUser)
                    {
                        <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Unclaim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-danger">Unclaim</a>
                        <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-outline-primary">Request Sub</a>
                    }
                    else
                    {
                        <a asp-area=@AreaName.Adoration asp-controller="Claim" asp-action="Claim" asp-route-id="@item.TimeSlotId" class="btn btn-sm btn-success">Claim</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
