@model ParishManager.Areas.Adoration.Models.Home.ClaimedHoursIndexViewModel
@using ParishManager.Constants

@{
    ViewBag.Title = "Claimed Hours";
}

<h3>Claimed Hours</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Day
            </th>
            <th>
                Hour
            </th>
            <th>
                Parish
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyHours) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.ActionLink("Unclaim", "Unclaim", "Claim", new { Area=AreaName.Adoration, id = item.TimeSlotId })
                    <text> | </text>
                    <a asp-area=@AreaName.Adoration asp-controller="Substitution" asp-action="Create" asp-route-id="@item.TimeSlotId">Request Sub</a>
                </td>
            </tr>
        }
    </tbody>
</table>
