@model ParishManager.Areas.TimeSlot.Models.Home.TimeSlotIndexViewModel

@{
    ViewData["Title"] = "Index";

    var createRouteData = new Dictionary<string, string>
    {
        { "parishId", Model.ParishId.ToString() }
    };
}

<partial name="_AlertPartial" for="AlertMessage">

<h1>St. John The Evangelist</h1>

    @if (Model.IsAdmin)
    {
        <p>
            <a asp-action="Create" asp-all-route-data="createRouteData">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Day
                </th>
                <th>
                    Hour
                </th>
                <th>
                    Location
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TimeSlots) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @if (item.IsClaimedByUser)
                        {
                            @Html.ActionLink("Unclaim", "Unclaim", "Claim", new { Area="TimeSlot", id = item.TimeSlotId })
                            <text> | </text>
                            @Html.ActionLink("Request Sub", "Create", "SubstitutionRequest", new { timeSlotId = item.TimeSlotId })
                        }
                        else
                        {
                            @Html.ActionLink("Claim", "Claim", "Claim", new { Area="TimeSlot", id = item.TimeSlotId })
                        }
                        @if (Model.IsAdmin)
                        {
                            <text> | </text>@Html.ActionLink("Edit", "Edit", new { id = item.TimeSlotId })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
